#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.form {
  width: 500px;
  position: relative;
  text-align: left;
}

.input-box {
  display: inline-flex;
  width: 40%;
  flex-direction: column;
  padding-right: 4%;
}

input {
  height: 44px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
}

label,
.header {
  margin: 10px 0;
}

.submit {
  position: absolute;
  height: 50px;
  border: 2px solid black;
  right: 0;
  bottom: 0;
}

.header-container {
  text-align: center;
}

.header {
  display: inline-block;
}

.header-date,
.header-km,
.header-act {
  width: 33%;
}

.data-container {
  border: 2px solid black;
  border-radius: 10px;
}

table {
  width: 100%;
}

td {
  width: 33%;
  padding: 5px 15px;
}
